{% extends "gameday/layout.html" %}

{% block sidebar %}

<br>
<ul class="menu nav b-menu b-menu--vertical left-menu horse-racing-function">
  <li class="leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Meeting</a>
  </li>
  <li class="leaf b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link">Race Cards</a>
  </li>
  <li class="first leaf active b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link is-active">Race Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'viewbetslist' %}" class="b-menu__menu-link">Your Betting Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Race Calendar</a>
  </li>
</ul>
  
{% endblock %}

{% block mainbody %}

<div class="col-sm-12 bs-region bs-region--main">
<div class="block-region-main"><section data-block-plugin-id="horse_racing_meeting" class="block block-sgpools-widget block-horse-racing-meeting clearfix">



    <div data-habitat="C1">
      <section class="b-content__body__content offcanvas-view">
        <div id="banner-main"><img src="static/calendarbanner.jpeg" width="658px" style="overflow: auto;"></div>
        <br>
        <h2 id="navy-blue-title-header" class="header-title header-title--navy-blue" style="overflow: auto;">
          <span class="horse-racing-event-section-title">Race Calendar</span>
        </h2>
        <div class="pane-content">
          <div class="entity entity-bean bean-event-list clearfix">
            <div class="content"><div class="event-list"><div class="filter">
            </div>
            <div style="padding:10px">
            
            <div id="mainbody">
                <div id="calendar">
                  <table>
                    <tr>
                      <th>Meeting Date</th>
                      <th>Meeting Venue</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td>10/06/2022</td>
                      <td>Singapore</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>10/06/2022</td>
                      <td>Thailand</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>11/06/2022</td>
                      <td>Singapore</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>12/06/2022</td>
                      <td>Australia</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>17/06/2022</td>
                      <td>Singapore</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>17/06/2022</td>
                      <td>Australia</td>
                      <td>Confirmed</td>
                    </tr>
                  </table>
                  
                </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>

{% endblock %}