{% extends "gameday/layout.html" %}

{% block sidebar %}

<br>
<ul class="menu nav b-menu b-menu--vertical left-menu horse-racing-function">
  <li class="leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Meeting</a>
  </li>
  <li class="leaf b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link">Race Cards</a>
  </li>
  <li class="first leaf active b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link is-active">Race Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'viewbetslist' %}" class="b-menu__menu-link">Your Betting Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Race Calendar</a>
  </li>
</ul>
  
{% endblock %}

{% block mainbody %}
<div class="col-sm-12 bs-region bs-region--main">
  <div class="block-region-main">
    <section data-block-plugin-id="horse_racing_meeting" class="block block-sgpools-widget block-horse-racing-meeting clearfix">
      <div data-habitat="C1">
        <section class="b-content__body__content offcanvas-view">
          <div id="banner-main"><img src="gameday/banner-singapore.jpeg" width="658px" style="overflow: auto;"></div>
          <br>
          <h2 id="navy-blue-title-header" class="header-title header-title--navy-blue" style="overflow: auto;">
            <span class="horse-racing-event-section-title">Racing Results</span>
          </h2>
          <div class="pane-content">
            <div class="entity entity-bean bean-event-list clearfix">
              <div class="content"><div class="event-list"><div class="filter">
                <div class="col-xs-12">
                  <div class="filter__wrapper">
                    <div class="row">
                      <div class="col-xs-12 col-sm-5">
                        <label for="country">Country:</label>
  
                        
                        <form action="{% url 'index' %}" method="post">
                          {% csrf_token %}
                          <select name="country" id="country">
                            {% if country == "singapore" %}
                              <option value="singapore" selected>Singapore</option>
                              <option value="australia">Australia</option>
                              <option value="newzealand">New Zealand</option>
                              <option value="thailand">Thailand</option>
                            {% elif country == "australia" %}
                              <option value="singapore">Singapore</option>
                              <option value="australia" selected>Australia</option>
                              <option value="newzealand">New Zealand</option>
                              <option value="thailand">Thailand</option>
                            {% elif country == "newzealand" %}
                              <option value="singapore">Singapore</option>
                              <option value="australia">Australia</option>
                              <option value="newzealand" selected>New Zealand</option>
                              <option value="thailand">Thailand</option>
                            {% elif country == "thailand" %}
                              <option value="singapore">Singapore</option>
                              <option value="australia">Australia</option>
                              <option value="newzealand">New Zealand</option>
                              <option value="thailand" selected>Thailand</option>
                            {% endif %}
                          </select>
                          Start Date: <input type="text" id="startdate" name="startdate" value="{{startdate}}">
                          End Date: <input type="text" id="enddate" name="enddate" value="{{enddate}}"><br><br>                              
                      </div>
                    </div>
                  
                  </div>
                  <input type="submit">
                </form>
                </div>
              </div>
              <div style="padding:10px">
                <div id="mainracebody">
                  <div id="racelistheader" style="font-size:16px"><b>Races in {{ country_formatted }} from {{startdate}} to {{enddate}}</b></div>
                  {% for race in racelist %}
                    <a href="/viewrace/{{ race.id }}"><button class="btn btn-info" style="margin: 5px">${race.datetime_str}</button></a>
                  {% endfor %}
              </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  </div>
  </div>

{% endblock %}