{% extends "gameday/layout.html" %}

{% block sidebar %}

<br>
<ul class="menu nav b-menu b-menu--vertical left-menu horse-racing-function">
  <li class="leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Meeting</a>
  </li>
  <li class="leaf b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link">Race Cards</a>
  </li>
  <li class="first leaf active b-menu__list-item">
    <a href="{% url 'index' %}" class="b-menu__menu-link is-active">Race Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'viewbetslist' %}" class="b-menu__menu-link">Your Betting Results</a>
  </li>
  <li class="last leaf b-menu__list-item">
    <a href="{% url 'calendar' %}" class="b-menu__menu-link">Race Calendar</a>
  </li>
</ul>
  
{% endblock %}

{% block mainbody %}
<div class="col-sm-12 bs-region bs-region--main">
  <div class="block-region-main">
    <section data-block-plugin-id="horse_racing_meeting" class="block block-sgpools-widget block-horse-racing-meeting clearfix">
      <div data-habitat="C1">
        <section class="b-content__body__content offcanvas-view">
          <div id="banner-main"><img src="{% static 'gameday/banner-singapore.jpeg' %}" width="658px" style="overflow: auto;"></div>
          <br>
          <h2 id="navy-blue-title-header" class="header-title header-title--navy-blue" style="overflow: auto;">
            <span class="horse-racing-event-section-title">Racing Results</span>
          </h2>
          <div class="pane-content">
            <div class="entity entity-bean bean-event-list clearfix">
              <div class="content"><div class="event-list">
              <div style="padding:10px">
                <div id="mainracebody">
                  <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register">
                  </form>
              </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  </div>
  </div>

  {% endblock %}